nav{
 background-color: purple; 
 color: white;
 padding: 10px;
 margin: 5px;
 font-size: 20px;

}
#contain{
 margin-left:30%;
 margin-right:30%;
 padding:10px;
 border:20px;
}
#title{
 width:100%;
 padding: 5px;
 text-align: center;
 margin: 5px;

} 
#body{
 width:100%;
 padding: 5px;
 text-align: center;
 height: 30px ;
 margin: 5px;

}
#postIt{
 background-color:  purple;
 color:white;
 width:100%;
 border:none;
 margin: 10px;
 padding: 5px;
 text-align: center;
 border-radius: 20px;

}
#postIt:hover{
 background-color: lightpink;
}
#posts{
 margin-left:30%;
 margin-right:30%;
}
#postStyle{
 outline-style: outset;
 outline-color: white;
}
.alert{
 color: green;
 margin-left:30%;
 margin-right:30%;

}
.delete{
 background-color:  purple;
 color:white;
 border:none;
 margin: 10px;
 padding: 5px;
 text-align: center;
 border-radius: 20px;
}
.delete:hover{
 background-color: lightpink
}

.edit{
 background-color:  purple;
 color:white;
 border:none;
 margin: 10px;
 padding: 5px;
 text-align: center;
 border-radius: 20px;
}
.edit:hover{
 background-color: lightpink
}

.cancel{
 background-color: lightpink;
 color:white;
 width:100%;
 border:none;
 margin: 10px;
 padding: 5px;
 text-align: center;
 border-radius: 20px;

}
.cancel:hover{
 background-color: purple;
}